@{
    ViewBag.Title = "Classrooms";
    Layout = "_Layout";
}

<h2>Выберите действие</h2>

<div class="button-container">
    <a class="primary-button" href="@Url.Action("GetAllClassrooms", "Classroom")">Список доступных аудиторий</a><br/>
    
    <form id="classroomDetailsForm" action="@Url.Action("GetClassroomById", "Classroom")">
        <label for="classroomId">Введите ID аудитории:</label>
        <input type="text" id="classroomId" name="classroomId">
        <button type="submit" id="getClassroomBtn">Получить информацию</button>
    </form>
    
    <a class="primary-button" href="@Url.Action("Create", "Classroom")">Создать аудиторию</a><br/>
    
    <a class="primary-button" href="@Url.Action("Update", "Classroom")">Изменить информацию об аудитории</a><br/>
    
    <a class="primary-button" href="@Url.Action("Delete", "Classroom")">Удалить информацию об аудитории</a><br/>
    
</div>