@{
    ViewBag.Title = "Students";
    Layout = "_Layout";
}

<h2>Выберите действие</h2>

<div class="button-container">
    <a class="primary-button" href="@Url.Action("GetAllStudents", "Student")">Список студентов</a><br/>
    
    <form id="studentDetailsForm" action="@Url.Action("GetStudentById", "Student")">
    
        <label for="studentId">Введите ID студента:</label>
        <input type="text" id="studentId" name="studentId">
        <button type="submit" id="getStudentBtn">Получить информацию</button>
    </form>
    
    <a class="primary-button" href="@Url.Action("Create", "Student")">Создать запись студента</a><br/>
    
    <a class="primary-button" href="@Url.Action("Update", "Student")">Изменить информацию о студенте</a><br/>
    
    <a class="primary-button" href="@Url.Action("Delete", "Student")">Удалить информацию о студенте</a><br/>
</div>